* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
}
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
:root {
  --font01: Verdana, Geneva, Tahoma, sans-serif;
  --font02: "EB Garamond", serif;
  --font03: "Dancing Script", cursive;
}

html,
body {
  background-color: rgb(138, 135, 135);
  min-height: 100vh;
  font-family: var(--font01);
}

header {
    
  background-color: black;
  color: rgb(228, 235, 189);
  text-align: center;
  font-family: var(--font02);
}

header > h1 {

  font-size: 10vw;
  padding-top: 50px;
  font-variant: small-caps;
  
}

header > p {
  padding-bottom: 50px;
}

a {
  text-decoration: none;
  color: aliceblue;
  font-weight: bolder;
}

a:hover {
  text-decoration: underline;
  color: rgb(80, 158, 222);
}
section {
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 30px;
  line-height: 2em;
  font-size: 3.5vw;
  font-family: var(--font03);
}

section.conteudo {
  background-color: rgb(228, 235, 189);
  color: black;
}

section.imagem {
  background-color: rgb(60, 57, 57);
  box-shadow: 1px 1px 13px 0px black;
  color: rgb(0, 0, 0);
  background-size: cover;
  background-attachment: fixed;
}

section.imagem > p {
   display: inline-block; 
   padding: 5px;
  background-color: rgba(228, 235, 189, 0.454);
  border-radius: 20px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.472);;
  
}

section#img01{
    background-image: url(./imagens/background001.jpg);
    background-position: right center;
    
}

section#img02 {
    background-image: url(./imagens/background002.jpg);
    
}

footer {
  background-color: black;
  color: aliceblue;
  padding: 10px;
  text-align: center;
  font-size: 1em;
}
