* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    background-color: darkgray;
    min-height: 100vh;
    
}

header {
    background-color: black;
    color: aliceblue;
    text-align: center;
}

header > h1 {
    font-size: 50px;
    padding-top: 50px;
    font-variant: small-caps;

}

header > p {
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
    color: rgb(80, 158, 222);
    
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-size: 18px;
}

section.img01{
    background-color: rgba(195, 189, 189, 0.258);
    background-image: url(./imagens/background001.jpg);
    background-position: right;
    color: aliceblue;
    
}

section.imagem {
    background-color: rgba(195, 189, 189, 0.258);
    background-image: url(./imagens/background002.jpg);
    background-position: right;
    color: aliceblue;
}

section.imagem {
    background-color: rgba(195, 189, 189, 0.258);
    background-image: url(./imagens/gettyimages-1484252376.webp);
    background-position: right;
    color: aliceblue;
}

section.conteudo {
    background-color: aliceblue;
    color: black;
}

section > p {
    background-color: rgba(194, 190, 190, 0.227);
    width: 400px;
}

footer {
    background-color: black;
    color: aliceblue;
    padding: 10px;
    text-align: center;
}