* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    /* background-color: black;
    background-image: url(./img/wallpaper002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    /* background-color: black url(./img/wallpaper002.jpg); */
    background: black url(./img/wallpaper002.jpg) center center / cover no-repeat fixed;

    
}
main {
    background-color: aliceblue;
    max-width: 400px;
    padding: 10px;
    margin: auto;
    border: 2px solid red;
    border-radius: 10px;
}